:root {
  --color-neutral-900: hsl(218, 44%, 22%);
  --color-neutral-500: hsl(216, 15%, 48%);
  --color-neutral-300: hsl(212, 45%, 89%);
  --fs-df: 1.5rem;
  --fw-df: 400;
  --fw-bold: 700;
  --ff-df: "Outfit", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-neutral-300);
  font-family: var(--ff-df);
  font-size: var(--fs-df);
  min-height: 100vh;
  font-weight: var(--fw-df);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 2rem;
  padding-block-start: 1.6rem;
  -webkit-box-shadow: 0px 24px 17px -7px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 24px 17px -7px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 24px 17px -7px rgba(0, 0, 0, 0.07);
  max-width: 32rem;
  margin-block: 5.6rem;
  height: 49.7rem;
}

.card__img {
  width: 28.8rem;
  height: 28.8rem;
  margin-bottom: 2.4rem;
  border-radius: 1rem;
  margin-inline: auto;
}

.card__content-wrapper {
  padding-inline: 3.2rem;
  padding-block-end: 4rem;
  text-align: center;
}

.card__title {
  font-size: 2.2rem;
  margin-bottom: 1.6rem;
  color: var(--color-neutral-900);
  line-height: 2.8rem;
  font-weight: var(--fw-bold);
}

.card__description {
  color: var(--color-neutral-500);
  line-height: 1.9rem;
  letter-spacing: 0.2px;
}
