$cardBgColor: hsl(0, 0%, 100%);
$bodyBgColor: hsl(212, 45%, 89%);
$primary-color: hsl(218, 44%, 22%);
$secondary-color: hsl(216, 15%, 48%);
$defaultFontFamily: "Outfit", sans-serif;
$defaultFontSize: 1.5rem;
$defaultFontWeight: 400;
